:root{
    --c-DC780B:#DC780B;
    --c-FBF1E7: #FBF1E7;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.text-c-DC780B{
    color: #DC780B !important;
}

.bg-c-FBF1E7{
    background-color: var(--c-FBF1E7) !important;
}

.nav-hover:hover{
    color: var(--c-DC780B) !important;
}

.btn-web{
    color: #fff;
    background-color: var(--c-DC780B);
}

.btn-web-2{
    border: 1px solid var(--c-DC780B);
}

.btn-web:hover{
    border: 1px solid var(--c-DC780B);
}

.btn-web-2:hover{
    color: #fff;
    background-color: var(--c-DC780B);
    opacity: 0.6;
}

.info-header{
    height: 100%;
    margin: 135px 0;
}

#food-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.star-rating {
    --rating: 3; /* giá trị mặc định cho các món ăn */
    display: block;
    width: calc(var(--rating) * 16px);
    height: 16px;
    background-image: url(./img/star.png);
    background-repeat: repeat-x;

}

#prev-btn,
#next-btn{
    background: none;
    font-size: 30px;
    border: none;
    opacity: 0.8;
}

#prev-btn{
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#next-btn{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#prev-btn:hover,
#next-btn:hover{
    cursor: pointer;
    opacity: 1;
}

footer{
    background: #252525;
}

footer a{
    text-decoration: none;
    color: #fff;
}